.hourly-weather-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .weather-cards {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-auto-rows: 128px;
    }
}
